.py-3 {
    position: sticky;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.text-muted {
    color: #6c757d !important;
}

.container {
    text-align: center;
    z-index: 1;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.mt-auto {
    
    margin-top: 490px !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

#content{
    height: 2000px;
}
footer{
   
    display: block;
}


  
