<form action="/" method="post">
 <div class="container">
   <!-- <h3 style="text-align: center;">create-post</h3> -->
   <div class="write-post">
     <input id="title"  type="text" placeholder="Title Post....">
     <br>
      <textarea placeholder="Post-Description...." name="content" id="postData" cols="40" rows="10"></textarea>
      <br>
     <button type="submit">Post</button>
    </div>
  </div>   
</form>


<style>
  .container{
    margin: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 500px;
     height: 400px;
     border: 10px solid blue;
  }
  .write-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  #title{
    width:300px;
    padding: 10px;
    border: 5px solid bisque;
    margin: 10px;
  }
  #postData{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid bisque;
    
  }
  button{
    margin: 10px;
    border: 2px solid blue;
  }
</style>
  
<script src="/app/write-post.js"></script>