
 <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

   <nav style="position: sticky;">
        <input type="checkbox"  id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"  ></i>
        </label>
        <label class="logo">Blog-window</label>
        <ul class="navbar">
            <li><a class="active" data-component="all-posts" href="#">Home</a></li>
            <li><a class="active" href="#"  data-component="create-post">create post</a></li>
            <li class="nav-item">
              <a class="active" data-component="" href="#">
                My Posts
              </a>
            </li> 
            <li style="cursor: pointer;" ><a class="active" data-component="user-profile" id="nav-username">username</a></li>
                
          </ul>
    </nav> 
<script src="/app/navbar.js"></script> 